.counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.hero {
  position: relative;

  .base,
  .framework,
  .vite {
    inset-inline: 0;
    margin: 0 auto;
  }

  .base {
    width: 170px;
    position: relative;
    z-index: 0;
  }

  .framework,
  .vite {
    position: absolute;
  }

  .framework {
    z-index: 1;
    top: 34px;
    height: 28px;
    transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg)
      scale(1.4);
  }

  .vite {
    z-index: 0;
    top: 107px;
    height: 26px;
    width: auto;
    transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg)
      scale(0.8);
  }
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#next-steps {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;

  .logo {
    height: 18px;
  }

  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
    .button-icon {
      height: 18px;
      width: 18px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
  @media (max-width: 1024px) {
    height: 48px;
  }
}

.ticks {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -4.5px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--border);
  }
  &::after {
    right: 0;
    border-right-color: var(--border);
  }
}

.about-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.about-hero {
  text-align: center;
}

.about-hero h1 {
  font-size: 3rem;
}

section {
  margin: 50px 0;
}

ul {
  list-style: none;
}

ul li {
  margin: 10px 0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
  gap: 30px;
  justify-content: center;
}

.product-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: contain; /* show full image */
  display: block;
}

.product-card h3 {
  padding: 10px;
  margin: 0;
  color: black;
}

.product-card p {
  padding: 0 10px 10px;
  color: black;
}

.shop-container input {
  margin-bottom: 40px;
}

.shop-container input {
  width: 350px;
  height: 45px;
  font-size: 18px;
  padding: 0 15px;
  border-radius: 8px;
}

.product-card button {
  background: #000;
  color: #fff;
  border: none;
  padding: 12px 22px;
  border-radius: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.product-card button:hover {
  background: #ff6b35;
  transform: scale(1.05);
}

.hero {
  margin-top: 0px;
}

.contact-container {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

.contact-hero {
  text-align: center;
  margin-bottom: 60px;
}

.contact-content {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.contact-form button {
  background: linear-gradient(135deg,#ff8a00,#e52e71);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
}

.contact-info {
  flex: 1;
}

.login-page{
    min-height:100vh;
    background:linear-gradient(135deg,#02001b,#120035,#2d0057);
    display:flex;
    justify-content:center;
    align-items:center;
    gap:100px;
    padding:20px;
}

.left-panel{
    width:450px;
    color:white;
}

.left-panel h1{
    font-size:4rem;
    margin-bottom:20px;
}

.left-panel p{
    font-size:1.1rem;
    color:#bdbdbd;
    line-height:1.8;
}

.login-box{
    width:380px;
    padding:40px;
    border-radius:25px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.15);
    box-shadow:0 10px 30px rgba(0,0,0,.4);
}

.login-box h2{
    color:white;
    text-align:center;
    margin-bottom:30px;
    font-size:2rem;
}

.login-box input{
    width:100%;
    padding:16px;
    margin-bottom:20px;
    border:none;
    border-radius:15px;
    background:rgba(255,255,255,0.12);
    color:white;
    font-size:1rem;
}

.login-box input::placeholder{
    color:#d0d0d0;
}

.login-box button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:15px;
    background:linear-gradient(90deg,#8b5cf6,#c084fc);
    color:white;
    font-size:1rem;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.login-box button:hover{
    transform:translateY(-4px);
    box-shadow:0 8px 20px rgba(192,132,252,.4);
}

.login-box p{
    color:white;
    text-align:center;
    margin-top:20px;
}

.login-box span{
    color:#c084fc;
    cursor:pointer;
    font-weight:600;
}

.signup-page{
    min-height:100vh;
    background:linear-gradient(135deg,#02001b,#120035,#2d0057);
    display:flex;
    justify-content:center;
    align-items:center;
    gap:100px;
    padding:20px;
}

.left-panel{
    width:450px;
    color:white;
}

.left-panel h1{
    font-size:4rem;
    margin-bottom:20px;
    line-height:1.2;
}

.left-panel p{
    font-size:1.1rem;
    color:#cfcfcf;
    line-height:1.8;
}

.signup-box{
    width:420px;
    padding:40px;
    border-radius:25px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.15);
    box-shadow:0 10px 30px rgba(0,0,0,.4);
}

.signup-box h2{
    text-align:center;
    color:white;
    margin-bottom:30px;
    font-size:2rem;
}

.signup-box input{
    width:100%;
    padding:16px;
    margin-bottom:18px;
    border:none;
    outline:none;
    border-radius:15px;
    background:rgba(255,255,255,0.12);
    color:white;
    font-size:1rem;
}

.signup-box input::placeholder{
    color:#d0d0d0;
}

.signup-box button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:15px;
    background:linear-gradient(90deg,#8b5cf6,#c084fc);
    color:white;
    font-size:1rem;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.signup-box button:hover{
    transform:translateY(-4px);
    box-shadow:0 8px 20px rgba(192,132,252,.4);
}

.signup-box p{
    text-align:center;
    color:white;
    margin-top:20px;
}

.signup-box span{
    color:#c084fc;
    cursor:pointer;
    font-weight:600;
}

.contact-page{
    min-height:100vh;
    background:linear-gradient(135deg,#02001b,#120035,#2d0057);
    display:flex;
    justify-content:center;
    align-items:center;
    gap:100px;
    padding:50px;
}

.left-panel{
    width:450px;
    color:white;
}

.left-panel h1{
    font-size:4rem;
    margin-bottom:20px;
    line-height:1.2;
}

.left-panel p{
    color:#d0d0d0;
    line-height:1.8;
    font-size:1.05rem;
}

.contact-info{
    margin-top:50px;
}

.contact-info h2{
    margin-bottom:20px;
    color:#fff;
}

.contact-info p{
    margin-bottom:18px;
    font-size:1rem;
}

.contact-box{
    width:450px;
    padding:40px;
    border-radius:25px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,.15);
    box-shadow:0 10px 30px rgba(0,0,0,.4);
}

.contact-box h2{
    color:white;
    text-align:center;
    margin-bottom:30px;
    font-size:2rem;
}

.contact-box input,
.contact-box textarea{
    width:100%;
    padding:16px;
    margin-bottom:20px;
    border:none;
    outline:none;
    border-radius:15px;
    background:rgba(255,255,255,.12);
    color:white;
    font-size:1rem;
    resize:none;
}

.contact-box input::placeholder,
.contact-box textarea::placeholder{
    color:#d0d0d0;
}

.contact-box button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:15px;
    background:linear-gradient(90deg,#8b5cf6,#c084fc);
    color:white;
    font-size:1rem;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.contact-box button:hover{
    transform:translateY(-4px);
    box-shadow:0 8px 20px rgba(192,132,252,.4);
}

